@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-primary: #2c2cb5;
    --color-primary-lighter: #b4c0d6;
    --color-primary-darker: #041e4d;
    --color-secondary: #595b61;
    --color-backplate: #f0f0f0;
    --size-carousel-height: 700px;
    --swiper-navigation-size: 22px;
  }
}

@import 'css/swiper-bundle.min.css';
